<#@ template hostspecific="true" language="C#" #>
<#@ output extension=".dll.config" #>
<#@ include file="Templating\VersionParser.ttinclude" #>
<#
WriteLine($@"
<configuration>
    <dllmap dll=""_SDL2"" target=""GameData\{updateData.Name}\SDL2.dll"" os=""windows"" />
    <dllmap dll=""_SDL2"" target=""libSDL2-2.0.so.0"" os=""linux,solaris,freebsd,openbsd,netbsd,aix,hipux"" />
    <dllmap dll=""_SDL2"" target=""libSDL2-2.0.0.dylib"" os=""osx"" />
</configuration>
".Trim());
#>